<div *ngIf="pool">
  <table mat-table [dataSource]="pool.leaderboard">
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let member"> {{member.score}} </td>
    </ng-container>
    <ng-container matColumnDef="nickname">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let member"> {{member.pool_member.nickname}} </td>
    </ng-container>
    <ng-container matColumnDef="1-5">
      <th mat-header-cell *matHeaderCellDef> 1-5 </th>
      <td mat-cell *matCellDef="let member"> {{member.pool_member.players[0].name}} ({{member.pool_member.players[0].curr_score}})</td>
    </ng-container>
    <ng-container matColumnDef="6-10">
      <th mat-header-cell *matHeaderCellDef> 6-10 </th>
      <td mat-cell *matCellDef="let member"> {{member.pool_member.players[1].name}} ({{member.pool_member.players[1].curr_score}})</td>
    </ng-container>
    <ng-container matColumnDef="11-15">
      <th mat-header-cell *matHeaderCellDef> 11-15 </th>
      <td mat-cell *matCellDef="let member"> {{member.pool_member.players[2].name}} ({{member.pool_member.players[2].curr_score}})</td>
    </ng-container>
    <ng-container matColumnDef="16-20">
      <th mat-header-cell *matHeaderCellDef> 16-20 </th>
      <td mat-cell *matCellDef="let member"> {{member.pool_member.players[3].name}} ({{member.pool_member.players[3].curr_score}})</td>
    </ng-container>
    <ng-container matColumnDef="21+">
      <th mat-header-cell *matHeaderCellDef> 21+ </th>
      <td mat-cell *matCellDef="let member"> {{member.pool_member.players[4].name}} ({{member.pool_member.players[4].curr_score}})</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let member; columns: columnsToDisplay"></tr>
  </table>
</div>
